@media screen and (min-width:650px) {
    .menu ul {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .menu ul li.option a{
        margin:0px;
    }
    .aboutMe{
        height: 68vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboutMe p{
        width: 80%;
        text-align: justify;
        box-shadow: 4px 3px 11px purple;
        padding: 10px 30px;
        border-radius: 20px 20px 20px 20px;
    }
    
}